<!DOCTYPE html>
<html>
    <head>
        {% block head %}
            <title>{% block title %}Hair Salon {% endblock %}</title>
        {% endblock %}
    </head>

    <body>
        <div class="container">
            {% block content %}<h1>Hair Salon Page</h1>{% endblock %}





        </div>
    </body>
</html>
