{% extends 'base.html.twig' %}


{% block header %}
    <h2>Main</h2>
{% endblock %}

{% block content %}
    <div class='form-group'>
      <form action='/add-stylist' method='post'>
        <label for='name'>New Stylist Name: </label>
        <input name='name' type='text'>

        <button type='submit'>Add Stylist</button>
      </form>
    </div>

    {% if stylists is not empty %}
        <h3>Current Stylists</h3>
        <ul>
            {% for stylist in stylists %}
                <li>{{ stylist.getName }}</li>
            {% endfor %}
        </ul>
    {% endif %}
{% endblock %}
